
/*** Spinner Start ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .8s ease-out, visibility 0s linear .5s;
    z-index: 99999;
 }

 #spinner.shoa {
     transition: opacity .8s ease-out, visibility 0s linear .0s;
     visibility: visible;
     opacity: 1;
 }

 .back-to-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

.card-hover {
    width: 360px;
    height: 500px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 32px -10px rgba(0, 0, 0, 0.08);
  }
  .card-hover:has(.card-hover__link:hover) .card-hover__extra {
    transform: translateY(0);
    transition: transform 0.35s;
  }
  .card-hover:hover .card-hover__content {
    background-color: #dee8c2;
    bottom: 100%;
    transform: translateY(100%);
    padding: 50px 60px;
    transition: all 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
  }
  .card-hover:hover .card-hover__link {
    opacity: 1;
    transform: translate(-50%, 0);
    transition: all 0.3s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
  }
  .card-hover:hover img {
    transform: scale(1);
    transition: 0.35s 0.1s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
  }
  .card-hover__content {
    width: 100%;
    text-align: center;
    background-color: #86b971;
    padding: 0 60px 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(0);
    transition: all 0.35s 0.35s cubic-bezier(0.1, 0.72, 0.4, 0.97);
    will-change: bottom, background-color, transform, padding;
    z-index: 1;
  }
  .card-hover__content::before,
  .card-hover__content::after {
    content: "";
    width: 100%;
    height: 120px;
    background-color: inherit;
    position: absolute;
    left: 0;
    z-index: -1;
  }
  .card-hover__content::before {
    top: -80px;
    -webkit-clip-path: ellipse(60% 80px at bottom center);
    clip-path: ellipse(60% 80px at bottom center);
  }
  .card-hover__content::after {
    bottom: -80px;
    -webkit-clip-path: ellipse(60% 80px at top center);
    clip-path: ellipse(60% 80px at top center);
  }
  .card-hover__title {
    font-size: 1.5rem;
    margin-bottom: 1em;
  }
  .card-hover__title span {
    color: #2d7f0b;
  }
  .card-hover__text {
    font-size: 0.75rem;
  }
  .card-hover__link {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, 10%);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    color: #2d7f0b;
    opacity: 0;
    padding: 10px;
    transition: all 0.35s;
  }
  .card-hover__link:hover svg {
    transform: translateX(4px);
  }
  .card-hover__link svg {
    width: 18px;
    margin-left: 4px;
    transition: transform 0.3s;
  }
  .card-hover__extra {
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    background-color: #86b971;
    padding: 80px;
    bottom: 0;
    z-index: 0;
    color: #dee8c2;
    transform: translateY(100%);
    will-change: transform;
    transition: transform 0.35s;
  }
  .card-hover__extra span {
    color: #2d7f0b;
  }
  .card-hover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    z-index: -1;
    transform: scale(1.2);
    transition: 0.35s 0.35s transform cubic-bezier(0.1, 0.72, 0.4, 0.97);
  }

/*** Spinner End ***/


/*** table for product start  ***/


.table-container {
  background-color: #FAF5E2;
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;

  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #7f9f21;
  color: #fff;
}

thead th {
  padding: 15px;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #ddd;
}

tbody tr:last-child {
  border-bottom: none;
}

tbody td {
  padding: 15px;
  vertical-align: middle;
}

tbody td img {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  border-radius: 5px;
  vertical-align: middle;
}

.product-info {
  display: inline-block;
  vertical-align: middle;
}

.product-info strong {
  display: block;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.product-info p {
  margin: 0;
  color: #888;
}

tbody td a {
  color: #8BC34A;
  text-decoration: none;
}

tbody td a:hover {
  text-decoration: underline;
}

/* Media Queries */
@media (min-width: 540px) {
  .table-container {
      width: 80%;
  }

  thead th, tbody td {
      padding: 20px;
  }

  .product-info strong {
      font-size: 1.2em;
  }
}

@media (min-width: 960px) {
  .table-container {
      width: 100%;
  }

  thead th, tbody td {
      padding: 25px;
  }

  .product-info strong {
      font-size: 1.3em;
  }
}

/*** table for product end   ***/

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn.border-secondary {
    transition: 0.5s;
}

.btn.border-secondary:hover {
    background: var(--bs-secondary) !important;
    color: var(--bs-white) !important;
}

/*** Topbar Start ***/
.fixed-top {
    transition: 0.5s;
    background-color: #7F9F21;
    border: 0;
}

.topbar {
    padding: 20px;
    border-radius: 230px 100px;
}

.topbar .top-info {
    font-size: 15px;
    line-height: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link {
    font-size: 15px;
    line-height: 0;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.topbar .top-link a {
    letter-spacing: 1px;
}

.topbar .top-link a small:hover {
    color: var(--bs-secondary) !important;
    transition: 0.5s;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #000000;
  }
  

.topbar .top-link a small:hover i {
    color: var(--bs-primary) !important;
}
/*** Topbar End ***/

:root{
    --background-dark: #2d3548;
    --text-light: rgba(255,255,255,0.6);
    --text-lighter: rgba(255,255,255,0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
  
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  
  body{
    height: 100%;
  }
  
  .hero-section{
    align-items: flex-start;
    display: flex;
    min-height: 100%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    trsnsform: scale(1) translateZ(0);
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }
  

/*** Navbar End ***/

/*** Hero Header ***/
.hero-header {
    background-image: url('../../public/elaine-casap-qgHGDbbSNm8-unsplash.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
.header-O{

}

.carousel-item {
    position: relative;
}

.carousel-item a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    background: linear-gradient(rgba(255, 181, 36, 0.7), rgba(255, 181, 36, 0.7));
}

.carousel-control-next,
.carousel-control-prev {
    width: 48px;
    height: 48px;
    border-radius: 48px;
    border: 1px solid var(--bs-white);
    background: var(--bs-primary);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-next {
    margin-right: 20px;
}

.carousel-control-prev {
    margin-left: 20px;
}

.page-header {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../img/cart-page-header-img.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.fruite-categorie label {
  color: #81c408;
}

.fruite-categorie {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px; /* Adjust height as needed to show four elements */
  overflow-y: auto;
}

/* add_product start */


aside {
  width: 250px;
  background-color: #9EC773;
  padding: 20px;
}

aside .menu h3 {
  margin-top: 0;
}

aside .menu a {
  display: block;
  color: white;
  text-decoration: none;
  margin: 10px 0;
}

.content {
  border-radius: 10px;
  flex: 1;
  padding: 20px;
  background-color: #fff;
}

.content h2 {
  color: #87B840;
}

/* Product form section */
.product-form {
  display: flex;
  flex-direction: column;
}

.product-image {
  display: flex;
  text-align: center;
  margin-bottom: 20px;
  padding: px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  flex-wrap: wrap;
}

.product-image img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  cursor: pointer;
}

.upload-box {
  padding: 10px;
  border: 2px dashed #87B840;
  color: #87B840;
}

.product-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.product-details label {
  margin: 10px 0 5px;
}

.product-details input,
.product-details textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product-details textarea {
  height: 100px;
}

.buttons {
  text-align: right;
}

.buttons .save-archive,
.buttons .save-display {
  background-color: #87B840;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.buttons .save-display {
  background-color: #FFC107;
}

.buttons .save-archive:hover,
.buttons .save-display:hover {
  opacity: 0.8;
}

/* Responsive styles */
@media (max-width: 768px) {
  aside {
      display: none;
  }

  .content {
      padding: 20px 10px;
  }

  .product-image {
      flex-direction: column;
  }

  .product-image img {
      margin-bottom: 10px;
  }
}
.upload-box .buttons {
  display: none;
}


/*add_product end  */



/*My_order start  */

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
}

.section {
  
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-address h2 {
  margin: 0;
  color: #6d6d6d;
}

.search-select {
  display: flex;
  align-items: center;
}

.order-select {
  background-color: #FAF5E2;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

.search-select input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex-grow: 1;
}

.search-button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #8bc34a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.table-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 2px solid #eee;
  color: #6d6d6d;
}

.table-header div {
  flex: 1;
  text-align: center;
}

.orders {
  padding: 0;
}

.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-radius: 18px;
}

.single-order .order-info,
.multi-order .order-info {
  display: flex;
  align-items: center;
  flex: 0;
}

.order-user-photo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px;
}

.single-order .order-details,
.multi-order .order-details {
  display: flex;
  flex-direction: column;
}

.single-order .product-name {
  font-size: 16px;
  font-weight: bold;
}

.multi-order .product-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.order-amount {
  flex: 2;
  text-align: center;
  font-size: 14px;
  color: #666;
}

.order-status {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  color: #4caf50;
}

.order-action {
  flex: 1;
  text-align: center;
}

.order-link {
  color: #1e88e5;
  text-decoration: none;
}

.order-link:hover {
  text-decoration: underline;
}

.order-number {
  flex: 2;
  text-align: right;
  font-size: 12px;
  color: #666;
}
/*My_order end  */


.fruite-categorie li {
  margin: 10px 0;
}
@media (min-width: 992px) {
    .hero-header,
    .page-header {
        margin-top: 0px !important;
    }
}

@media (max-width: 992px) {
    .hero-header,
    .page-header {
        margin-top: 97px !important;
    }
}
/*** Hero Header end ***/


/*** featurs Start ***/
.featurs .featurs-item .featurs-icon {
    position: relative;
    width: 120px;
    height: 120px;
}

.featurs .featurs-item .featurs-icon::after {
    content: "";
    width: 35px;
    height: 35px;
    background: var(--bs-secondary);
    position: absolute;
    bottom: -10px;
    transform: translate(-50%);
    transform: rotate(45deg);
    background: var(--bs-secondary);
    
}
/*** featurs End ***/


/*** service Start ***/
.service .service-item .service-content {
    position: relative;
    width: 250px; 
    height: 130px; 
    top: -50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}

/*** service End ***/


/*** Fruits Start ***/
.fruite .tab-class .nav-item a.active {
    background: var(--bs-secondary) !important;
}

.fruite .tab-class .nav-item a.active span {
    color: var(--bs-white) !important; 
}

.fruite .fruite-categorie .fruite-name {
    line-height: 40px;
}

.fruite .fruite-categorie .fruite-name a {
    transition: 0.5s;
}

.fruite .fruite-categorie .fruite-name a:hover {
    color: var(--bs-secondary);
}

.fruite .fruite-item {
    height: 100%;
    transition: 0.5s;
}
.fruite .fruite-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.fruite .fruite-item .fruite-img {
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
}

.fruite .fruite-item .fruite-img img {
    transition: 0.5s;
}

.fruite .fruite-item .fruite-img img:hover {
    transform: scale(1.3);
}
/*** Fruits End ***/


/*** vesitable Start ***/
.vesitable .vesitable-item {
    height: 100%;
    transition: 0.5s;
}

.vesitable .vesitable-item:hover {
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.vesitable .vesitable-item .vesitable-img {
    overflow: hidden;
    transition: 0.5s;
    border-radius: 10px 10px 0 0;
}

.vesitable .vesitable-item .vesitable-img img {
    transition: 0.5s;
}

.vesitable .vesitable-item .vesitable-img img:hover {
    transform: scale(1.2);
}

.vesitable .owl-stage {
    margin: 50px 0;
    position: relative;
}

.vesitable .owl-nav .owl-prev {
    position: absolute;
    top: -8px;
    right: 0;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;

}

.vesitable .owl-nav .owl-prev:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}

.vesitable .owl-nav .owl-next {
    position: absolute;
    top: -8px;
    right: 88px;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;
}

.vesitable .owl-nav .owl-next:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}
/*** vesitable End ***/

/*** price  Start ***/
/* Style.css */
.custom-wrapper { 
  margin: 20px auto; /* Ubah margin sesuai kebutuhan Anda */
  width: 100%; /* Mengurangi lebar dari 100% menjadi 80% */
  position: relative; 
  left: 0; 
} 

.header h2 { 
  font-size: 24px; 
  color: #01940b; 
  display: flex;  
} 

/* Styles for the price input container */
.price-input-container { 
  width: 100%; 
} 

.price-input .price-field { 
  display: flex; 
  margin-bottom: 22px; 
} 

.price-field span { 
  margin-right: 10px; 
  margin-top: 6px; 
  font-size: 15px; 
  color: #81c408;
  text-align: -webkit-match-parent;

} 

.price-field input { 
  flex: 1; 
  height: 35px; 
  font-size: 10px; 
  font-family: "DM Sans", sans-serif; 
  border-radius: 9px; 
  text-align: center; 
  border: 0px; 
  background: #e4e4e4; 
} 

.price-input { 
  width: 100%; 
  font-size: 19px; 
  color: #555; 
} 

/* Remove Arrows/Spinners */
input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} 

.slider-container { 
  width: 100%; 
} 

.slider-container { 
  height: 6px; 
  position: relative; 
  background: #e4e4e4; 
  border-radius: 5px; 
} 

.slider-container .price-slider { 
  height: 100%; 
  left: 25%; 
  right: 15%; 
  position: absolute; 
  border-radius: 5px; 
  background: #01940b; 
} 

.range-input { 
  position: relative; 
} 

.range-input input { 
  position: absolute; 
  width: 100%; 
  height: 5px; 
  background: none; 
  top: -5px; 
  pointer-events: none; 
  cursor: pointer; 
  -webkit-appearance: none; 
} 

/* Styles for the range thumb in WebKit browsers */
input[type="range"]::-webkit-slider-thumb { 
  height: 18px; 
  width: 18px; 
  border-radius: 70%; 
  background: #555; 
  pointer-events: auto; 
  -webkit-appearance: none; 
}

/*** price End ***/


/*** Banner Section Start ***/
.banner .banner-btn:hover {
    background: var(--bs-primary);
}
/*** Banner Section End ***/


/*** Facts Start ***/
.counter {
    height: 100%;
    text-align: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.counter i {
    font-size: 60px;
    margin-bottom: 25px;
}

.counter h4 {
    color: var(--bs-primary);
    letter-spacing: 1px;
    text-transform: uppercase;
}

.counter h1 {
    margin-bottom: 0;
}
/*** Facts End ***/





/*** testimonial Start ***/
.testimonial .owl-nav .owl-prev {
    position: absolute;
    top: -58px;
    right: 0;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;
}

.testimonial .owl-nav .owl-prev:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}

.testimonial .owl-nav .owl-next {
    position: absolute;
    top: -58px;
    right: 88px;
    color: var(--bs-primary);
    padding: 5px 25px;
    border: 1px solid var(--bs-secondary);
    border-radius: 20px;
    transition: 0.5s;
}

.testimonial .owl-nav .owl-next:hover {
    background: var(--bs-secondary);
    color: var(--bs-white);
}
/*** testimonial End ***/


/*** Single Page Start ***/
.pagination {
    display: inline-block;
}
  
.pagination a {
    color: var(--bs-dark);
    padding: 10px 16px;
    text-decoration: none;
    transition: 0.5s;
    border: 1px solid var(--bs-secondary);
    margin: 0 4px;
}
  
.pagination a.active {
    background-color: var(--bs-primary);
    color: var(--bs-light);
    border: 1px solid var(--bs-secondary);
}
  
.pagination a:hover:not(.active) {background-color: var(--bs-primary)}

.nav.nav-tabs .nav-link.active {
    border-bottom: 2px solid var(--bs-secondary) !important;
}
/*** Single Page End ***/


/*** Footer Start ***/
.footer .footer-item .btn-link {
    line-height: 35px;
    color: rgba(255, 255, 255, .5);
    transition: 0.5s;
}

.footer .footer-item .btn-link:hover {
    color: var(--bs-secondary) !important;
}

.footer .footer-item p.mb-4 {
    line-height: 35px;
}

.star-rating {
  direction: rtl;
  display: inline-flex;
  font-size: 2rem;
  cursor: pointer;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ddd;
}

.star-rating input:checked ~ label,
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #ffc107;
}

/*** Footer End ***/

